<div class="container">
  <h1>Eliminar art&iacute;culo</h1>
  <form novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="description">
        Descripci&oacute;n:
      </label>
      <input readonly name="description" class="form-control" [(ngModel)]="productForm.description">
    </div>
    <div class="form-group">
      <label for="price">
        Precio:
      </label>
      <input readonly name="price" class="form-control" min="0" type="number" [(ngModel)]="productForm.price"/>
    </div>
    <div class="form-group">
      <label for="category">Categor&iacute;a</label>
      <select readonly name="categoryId" class="form-control" [(ngModel)]="productForm.categoryId">
        <option selected value="0">[Seleccione una provincia]</option>
        <option *ngFor="let category of productForm.categories" [ngValue]="category.id">{{category.description}}</option>
      </select>
    </div>
    <div class="pull-right">
      <button type="submit" class="btn btn-danger">Eliminar</button>
    </div>
  </form>
</div>
